# Note: patterns match files in any subdirectory, not just relative to root 

# Files
.DS_Store
.classpath
.project
.pydevproject

*.dat
*~
~$*
*.apk
*.ap_
*.class
*.dex
*.iml
*.ipr
*.iws
*.log
*.pyc

*.aux
*.out
*.xwm
*.pdf
*.synctex.gz
*.zip
*.gz

ChartService/bower_components/*

rebel.xml
__test*
local.properties
nb*.xml

# Directories
.gradle/
.idea/
.settings/
.svn/

bin/
build/
gen/
generated-sources/
logs/
out/
proguard/
target/
TempStatsStore/
test-output/
/nd-core/build
/nd-hive-tools/build
/nd-spark-etl/build
/nd-commonLibraries/nd-projects/DARPA-ND-core.jar
/nd-commonLibraries/nd-projects
/dist_utils
/dist_ND-HiveMondoJar.jar
/dist_etl
/dist_projects
/dist_xdata
/MANIFEST.MF
